extends ../layout

block content
	//- .container.products-view-all
	.container
		form.post-list
			input(type='hidden', value='')
		.clearfix
			article.navbar-form.navbar-left.p-0.m-0.ml-b
				.form-group
					label Per Page: 
					select.form-control.post_max.m-b
						option(value='20') 20
						option(value='50') 50
						option(value='100') 100
				label Search Keyword: 
					input.form-control.post_search_text.m-b(type='text', placeholder='Enter a keyword')
				.form-group
					label Order By: 
					select.form-control.post_name.m-b
						option(value='name') Title
						option(value='price') Price
						option(value='quantity') Quantity
					select.form-control.post_sort.m-b
						option(value='ASC') ASC
						option(value='DESC') DESC
				input.btn.btn-primary.post_search_submit.m-b(type='submit', value='Filter')
		hr
		.clearfix
			each item, key in products
				.col-sm-3
					.panel.panel-default
						.panel-heading #{item.name}
						
						panel-body.p-0.p-b
							a(href="/products-single")
								img.img-responsive(src="", width="100%")
							.list-group.m-0
								.list-group-item.b-0.b-t
									i.fa.fa-calendar-o.fa-2x.pull-left.ml-r
									p.list-group-item-text Price
									h4.list-group-item-heading $#{item.price}
								.list-group-item.b-0.b-t
									i.fa.fa-calendar-o.fa-2x.pull-left.ml-r
									p.list-group-item-text Quantity
									h4.list-group-item-heading #{item.quantity}
						panel-footer
							p
								a.btn.btn-success.btn-block(href="/products-single") View Item